<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/datatables/datatables.css" rel="stylesheet">
    <link href="~/Content/scss/main.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body ng-app="BotanifyApplication" ng-controller="BotanifyApplicationController" class="font-euclid bg-white body-dash" ng-class="{'no-scroll' : isAddVisible}" ng-init="loadProductFunc()">

    @Html.Partial("_Sidebar")

    <div class="row dash">
        @RenderBody()
    </div>

    @Html.Partial("_AddProdModal")
    @Html.Partial("_ViewProdModal")

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>
    <script src="~/Scripts/datatables.js"></script>

</body>
</html>
